<section id="contactform" class="py-5">
  <div class="container bg-white rounded p-5">
    <div class="row">
      <div class="col-lg-12">
        <!--Section: Contact v.2-->
        <section class="section">
          <!--Section heading-->
          <h2
            class="text-foundation h1-responsive font-weight-bold text-center my-3"
          >
            Let's Connect
          </h2>
          <!--Section description-->
          <hr />

          <div class="row">
            <!--Grid column-->
            <div class="col-md-12 mb-md-0 mb-5">
              <form
                id="contact-form"
                name="contact-form"
                action="https://formspree.io/info@805.foundation"
                method="POST"
              >
                <!--Grid row-->
                <div class="row">
                  <!--Grid column-->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <label for="name" class="text-foundation pt-3"
                        >Name:</label
                      >
                      <input
                        type="text"
                        id="name"
                        name="name"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <label for="email" class="text-foundation pt-3"
                        >Email:</label
                      >
                      <input
                        type="text"
                        id="email"
                        name="email"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <!--Grid column-->
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                  <div class="col-md-12">
                    <div class="md-form mb-0">
                      <label for="subject" class="text-foundation pt-3"
                        >Subject:</label
                      >
                      <input
                        type="text"
                        id="subject"
                        name="subject"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                  <!--Grid column-->
                  <div class="col-md-12">
                    <div class="md-form">
                      <label for="message" class="text-foundation pt-3"
                        >Your Message</label
                      >
                      <textarea
                        type="text"
                        id="message"
                        name="message"
                        rows="2"
                        class="form-control md-textarea"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <!--Grid row-->
              </form>
              <div class="py-2"></div>
              <div class="text-center text-md-left">
                <a onclick="document.getElementById('contact-form').submit();"
                  ><button class="btn btn-dwight col-4 py-2">
                    Send
                  </button>
                </a>
              </div>
              <div class="status"></div>
            </div>
            <!--Grid column-->

            <!--Grid column-->

            <!--Grid column-->
          </div>
        </section>
        <!--Section: Contact v.2-->
      </div>
    </div>
  </div>
</section>
