<!-- Footer -->
<footer class="page-footer font-small lighten-5">
  <div style="" class="bg-black">
    <div class="container">
      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0 text-white">
            Get connected with us on social networks!
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <!-- Facebook -->
          <a
            class="fb-ic text-decoration-none text-link"
            href="https://www.facebook.com/805foundation/"
            target="_blank"
          >
            <i class="fab fa-facebook-f text-invert mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a
            class="tw-ic text-decoration-none text-link"
            href="https://twitter.com/805foundation"
            target="_blank"
          >
            <i class="fab fa-twitter text-invert mr-4"> </i>
          </a>
          <!-- Google +-->
          <!-- <a class="gplus-ic">
                  <i class="fab fa-google-plus-g text-invert mr-4"> </i>
                </a> -->
          <!--Linkedin -->
          <a
            class="li-ic text-decoration-none text-link"
            href="https://www.linkedin.com/company/805foundation/"
            target="_blank"
          >
            <i class="fab fa-linkedin-in text-invert mr-4"> </i>
          </a>
          <!--Instagram-->
          <a
            class="ins-ic text-decoration-none text-link"
            href="https://www.instagram.com/805foundation/"
            target="_blank"
          >
            <i class="fab fa-instagram text-invert"> </i>
          </a>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">
    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">
            DWIGHT DIESMO
        </h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p>
          “Developing your personal brand is key to monetizing your passion
          online.” - Gary Vaynerchuck
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Content</h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p>
          <a
            class="dark-grey-text text-dwight text-uppercase text-decoration-none"
            href="#!"
            >YouTube</a
          >
        </p>
        <p>
          <a
            class="dark-grey-text text-dwight text-uppercase text-decoration-none"
            href="#!"
            >Podcast</a
          >
        </p>
        <p>
          <a
            class="dark-grey-text text-dwight text-uppercase text-decoration-none"
            href="#!"
            >Blog</a
          >
        </p>
        <p>
          <a
            class="dark-grey-text text-dwight text-uppercase text-decoration-none"
            href="#!"
            >Events</a
          >
        </p>
        <p>
          <a
            class="dark-grey-text text-dwight text-uppercase text-decoration-none"
            href="#!"
            >#ASKDWIGHTDIESMO</a
          >
        </p>
        <p>
          <a
            class="dark-grey-text text-dwight text-uppercase text-decoration-none"
            href="#!"
            >Books</a
          >
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">other</h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p>
          <a
            class="dark-grey-text text-dwight text-uppercase text-decoration-none"
            href="/about/"
            >my story</a
          >
        </p>
        <p>
          <a
            class="dark-grey-text text-dwight text-uppercase text-decoration-none"
            href="/services/"
            >hire me to speak</a
          >
        </p>
        <p>
          <a
            class="dark-grey-text text-dwight text-uppercase text-decoration-none"
            href="/805family/"
            >press kit</a
          >
        </p>
        <p>
          <a
            class="dark-grey-text text-dwight text-uppercase text-decoration-none"
            href="/team/"
            >first time here</a
          >
        </p>
        <p>
          <a
            class="dark-grey-text text-dwight text-uppercase text-decoration-none"
            href="/team/"
            >Wallpapers</a
          >
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p></i>dwight.diesmo@805.foundation</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <hr />
  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50">
    Copyright © 2019, Dwight Diesmo – All Rights Reserved
  </div>
  <div class="footer-copyright text-center text-black-50 pb-3">
    Dwight Diesmo is the CEO of
    <a
      href="https://www.805.foundation/"
      target="_blank"
      class="text-decoration-none text-dwight"
    >
      805 Foundation
    </a>
    , a 501(c)3 Non-Profit
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
