<div class="container-fluid bg-black">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand text-uppercase font-weight-bold" href="#"
      >Dwight Diesmo</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          class="nav-item text-link text-decoration-none px-2"
          href="https://www.youtube.com/channel/UC9-KtN8AeoQoRtsao6_uUAQ?view_as=subscriber" target="_blank"
          >YOUTUBE</a
        >
        <a class="nav-item text-link text-decoration-none px-2" href="/podcast/"
          >PODCAST</a
        >
        <a class="nav-item text-link text-decoration-none px-2" href="/blog/"
          >BLOG</a
        >
        <a class="nav-item text-link text-decoration-none px-2" href="/events/"
          >EVENTS</a
        >
        <a class="nav-item text-link text-decoration-none px-2" href="/contact/"
          >CONTACT</a
        >
        <a class="nav-item text-link text-decoration-none px-2" href="/biography/"
          >MY STORY</a
        >
      </div>
    </div>
  </nav>
</div>
