<div class="container-fluid bg-black">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand text-uppercase font-weight-bold" href="#"
        >Dwight Diesmo</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item text-link text-decoration-none px-2" href="#">YOUTUBE</a>
          <a class="nav-item text-link text-decoration-none px-2" href="#">PODCAST</a>
          <a class="nav-item text-link text-decoration-none px-2" href="#">BLOG</a>
          <a class="nav-item text-link text-decoration-none px-2" href="#">EVENTS</a>
          <a class="nav-item text-link text-decoration-none px-2" href="#">CONTACT</a>
          <a class="nav-item text-link text-decoration-none px-2" href="#">MY STORY</a>
        </div>
      </div>
    </nav>
  </div>
</div>
