{{ define "main" }}

<header class="header">
  <div class="container h-100">
    <div class="row h-100 align-items-center text-white">
      <div class="col-12"></div>
    </div>
  </div>
</header>

<div class="container-fluid bg-black text-center text-white py-5">
  <h1 class="font-weight-bold">GET DWIGHT'S DAILY DIGEST</h1>
  <h2 class="">Directly into your inbox every morning</h2>
  <div class="py-2"></div>
  <button class="btn btn-dwight px-5 py-2">
    Subscribe
  </button>
</div>
<div class="py-3"></div>
<div class="container">
  <div class="card-group">
    <div class="card border-0 col-lg-6 col-md-12 col-12">
      <div class="card-body">
        <h1 class="card-title font-weight-bold">
          DWIGHT DIESMO BUILDS BUSINESSES
        </h1>
        <p class="card-text">
          Dwight Diesmo is the active CEO of 805 Foundation, a non-profit
          conglomerate and full service media agency servicing the latest brands
          and businesses across the company's 3 locations, and the chairman of
          Project 619, a student driven organization pursuing student growth
          through practical experiences, contributing to the community through
          service and is partnered with other non-profit organiztions such as
          HOPE.
        </p>
        <p class="card-text">
          In the early 2000s, after identifying software as the future of
          society, Dwight set his sights on providing the Philippines with the
          education and experience they would need to answer the call of first
          world countries for software developpers and engineers. He began
          partnering with universties and hosting Hack Iloilo to set up the
          Philippines Coding Academy.
        </p>
        <p class="card-text">
          <a href="/biography/" class="text-decoration-none text-dwight"
            >Read My Story >></a
          >
        </p>
      </div>
    </div>
    <div class="card border-0 col-lg-6 col-md-12 col-12">
      <img src="/img/articles/iscof.JPG" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title font-weight-bold">WATCH THIS</h5>
      </div>
    </div>
  </div>
</div>
<div class="py-3"></div>
<div class="container-fluid">
  <div class="container">
    <h5 class="text-uppercase text-center">Dwight has been featured in</h5>
    <div class="container p-5">
      <div class="card-group justify-content-center">
        <div class="card border-0 col-lg-3 col-md-6 col-12">
          <a
            href="https://www.thecamarilloacorn.com/articles/rancho-campanas-inaugural-graduating-class-is-looking-toward-future/"
            target="_blank"
            class=""
          >
            <img
              src="/img/publications/theacorn.png"
              alt=""
              class="card-img img-clients"
            />
          </a>
        </div>
      </div>
    </div>
    <a href="/biography/" class="text-decoration-none text-dwight"
      >View Media Appearances >></a
    >
  </div>
</div>
<div class="py-3"></div>
<div class="container-fluid bg-black py-5">
  <div class="container">
    <h1 class="font-weight-bold text-white">STAY CONNECTED</h1>
    <div class="card-deck text-center">
      <div class="card py-5 border-0 bg-black">
        <a
          href="https://www.instagram.com/dwight.diesmo/?hl=en"
          target="_blank"
          class="text-decoration-none"
        >
          <i class="fab fa-instagram fa-5x text-insta"></i>
        </a>
        <div class="card-body">
          <p class="card-text text-white">
            My favorite place. Quotes, stories & your chance to win the
            #60secclub
          </p>
        </div>
      </div>
      <div class="card py-5 border-0 bg-black text-link">
        <a
          href="https://www.youtube.com/channel/UC9-KtN8AeoQoRtsao6_uUAQ?view_as=subscriber"
          target="_blank"
          class="text-decoration-none"
        >
          <i class="fab fa-youtube fa-5x text-yt"></i>
        </a>
        <div class="card-body">
          <p class="card-text text-white">
            Documenting my life through #DailyDwight & #AskDwight ;)
          </p>
        </div>
      </div>
      <div class="card py-5 border-0 bg-black text-link">
        <a
          href="https://www.facebook.com/profile.php?id=100009866015911"
          target="_blank"
          class="text-decoration-none"
        >
          <i class="fab fa-facebook-square fa-5x text-fb"></i>
        </a>
        <div class="card-body">
          <p class="card-text text-white">
            My biggest platform. Join the VaynerNation & stay up to date on
            everything I do.
          </p>
        </div>
      </div>
      <div class="card py-5 border-0 bg-black text-link">
        <a
          href="https://twitter.com/dwightdiesmo"
          target="_blank"
          class="text-decoration-none"
        >
          <i class="fab fa-twitter fa-5x text-link"></i>
        </a>
        <div class="card-body">
          <p class="card-text text-white">
            The most direct & personal way to reach me for 1-1 conversations.
          </p>
        </div>
      </div>
    </div>
    <div class="card-deck text-center">
      <div class="card py-5 border-0 bg-black text-link">
        <a
          href="https://www.snapchat.com/add/dwight.diesmo"
          target="_blank"
          class="text-decoration-none"
        >
          <i class="fab fa-snapchat-ghost fa-5x text-snap"></i>
        </a>
        <div class="card-body">
          <p class="card-text text-white">
            An inside look at my life not shared anywhere else!
          </p>
        </div>
      </div>
      <div class="card py-5 border-0 bg-black text-link">
        <a
          href="https://www.linkedin.com/in/dwightdiesmo/"
          target="_blank"
          class="text-decoration-none"
        >
          <i class="fab fa-linkedin-in fa-5x text-link"></i>
        </a>
        <div class="card-body">
          <p class="card-text text-white">
            My business profile. VaynerMedia is hiring!
          </p>
        </div>
      </div>
      <div class="card py-5 border-0 bg-black text-link">
        <a
          href="https://medium.com/@dwight.diesmo"
          target="_blank"
          class="text-decoration-none"
        >
          <i class="fab fa-medium-m fa-5x text-medium"></i>
        </a>
        <div class="card-body">
          <p class="card-text text-white">
            Where I share my thoughts in detail.
          </p>
        </div>
      </div>
      <div class="card py-5 border-0 bg-black text-link">
        <a href="/podcast/" target="_blank" class="text-decoration-none">
          <i class="fas fa-podcast fa-5x text-podcast"></i>
        </a>
        <div class="card-body">
          <p class="card-text text-white">
            Perfect for your commute. Listen daily to keynotes, interviews,
            rants, business meetings, and more.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{{ partial "contact" . }}

{{ end }}
